<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Ocado, GO!</title>
    </head>
    <body>
        <h1>Ocado, GO!</h1>
        <form id="searchForm">
            <p><label>Search term: <input type="text" id="string"></label></p>
            <p><input type="submit" value="Search" id="searchButton"></p>
        </form>
        <hr>
        <h2>Search Results (<span id="searchResults">Nothing searched yet</span>)</h2>
        <div id="output" aria-live="polite" aria-atomic="false">
            <p>No results loaded yet. Try searching for something first.</p>
        </div>
        <h2>Donate</h2>
        <p>Donations aren't strictly necessary, but they do make me very happy, and they are very much appreciated.</p>
        <ul>
            <li><a href="https://www.paypal.me/chris626" target="_new">Donate through Paypal</a></li>
            <li><a href="https://monzo.me/chrisnorman" target="_new">Pay me with Monzo</a></li>
        </ul>
        <script src="/static/main.js?1"></script>
    </body>
</html>